Consecutive "/" at the beginning of a path causes an H2 protocol error.

## Expected Behavior

If "/" is consecutively at the beginning of a path, it does not cause an error.

## Current Behavior

https://github.com/varnishcache/varnish-cache/commit/22f666f4feef841bf3ebd3c0300e80ff09ec9a8b

In this commit, if the first two characters of the path header are "//", an H2 protocol error will now occur.


## Possible Solution

I believe that the "/" check on the second character should be removed.

https://github.com/varnishcache/varnish-cache/blob/master/bin/varnishd/http2/cache_http2_hpack.c#L139-L140

```
139,140c139
<                       if (((len > 0 && *b != '/') ||
<                           (len > 1 && *(b+1) == '/')) &&
---
>                       if ((len > 0 && *b != '/') &&
```

## Steps to Reproduce (for bugs)

1. Access with a path starting with "//" at http2

## Context
[RFC7540#8.1.2.3](https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2.3) in the comment says "the "path-absolute" production and optionally~", which has been corrected to absolute-path in the revised [RFC9113#8.3.1](https://www.rfc-editor.org/rfc/rfc9113#section-8.3.1).

absolute-path is defined in [RFC9110#4.1](https://www.rfc-editor.org/rfc/rfc9110#section-4.1) and "//" does not appear to be prohibited.

This modification was made in

https://github.com/httpwg/http2-spec/issues/906
https://github.com/httpwg/http2-spec/pull/910

It is discussed in the above issue, but states that it was an unintentional mistake to prohibit "//".
Therefore, I believe it is a mistake to assume it is a protocol error.

However, multiple slashes are not desirable and it would be nice and kind to include them in the documentation. (or default.vcl)

## Your Environment
<!--- Include as many relevant details about the environment you experienced the bug in -->
* Version used: 7.3.0
* Operating System and version: Ubuntu 22.04
