Wrong set of duplicate haeaders when backend  304 NOT MODIFIED

<!--- Provide a general summary of the issue in the Title above -->
When a backend supplies duplicate headers in a response, this is cached normally and served correctly to the client. If the object goes into grace, and Varnish has to ask the backend for a fresh copy, the backend may return a "304 NOT MODIFIED". In this case, the backend can choose which headers to send again, as specified by RFC 2616, section 13.5.3.

This is not handled correctly in 4.0 (verified), and seems to be buggy in master as well (not verified). The bugs are limited to cases where headers are duplicated, for example

foo: Alice
foo: Bob

I have written a patch for 4.0, but not tested it. I will attempt to write a varnishtest test for these cases and then resolve any errors.

Fixed in commit d6ed2444b481d73ca51ab2c621827e945f50b389.